html{
    background-color: aqua;
}

a {
    color: black;
}

.tkb-info {
    position: absolute;
    top: 10px; 
    right: 2%;
}

.tkb-info-mobile {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 20%; /* Adjust as needed */
}


.nav-link dropdown-toggle {
    color: black;
    font-size: 18;
}

.desktopPortfol {
    display: block;
}

.navbar .d-flex {
    display: flex;
    align-items: center; /* Vertically center items */
}

.navbar .dropdown-menu {
    margin-top: 0; /* Adjust this if needed */
}
